{{> meta/head}}

<div class="row">
  <div class="col-lg-3">

    {{> nav/secondary overview=true }}

  </div>
  <div class="col-lg-9">

    <div class="page-header">
      <h1>Bootstrap Select Dropdown <small>for Bootstrap 4</small></h1>
    </div>
    <p class="lead">A jQuery plugin for Bootstrap 4 that converts <code>&lt;select&gt;</code> and <code>&lt;select multiselect&gt;</code> elements to dropdowns. Uses Bootstrap's dropdown plugin and fuse.js for fuzzy search.</p>

    <p>Use Bootstrap Select Dropdown to improve the user experience for long option lists. Compared to a regular multiselect, this plugin adds:</p>

    <p>
      <ul>
        <li>a search box;</li>
        <li>keyboard navigation for search; and</li>
        <li>select/deselect all controls.</li>
      </ul>
    </p>

    <div class="page-header">
      <h2>Example: Default</h2>
    </div>

    <div class="form-group">
      <label for="demo_overview">Select one or more countries</label>
      <select id="demo_overview" class="form-control" data-role="select-dropdown" multiple>
        {{#each countries}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

<pre><code>{{{ htmlentities
'<div class="form-group">
  <label for="demo_overview">Select one or more countries</label>
    <select id="demo_overview" class="form-control" data-role="select-dropdown" multiple>
    <!-- options -->
  </select>
</div>'
}}}</code></pre>

    <div class="page-header">
      <h2>Example: Icons, Badges and Tooltips</h2>
    </div>

    <p>
      A range of options enable {{name}} to be configured to suit a wider range of use cases.
    </p>

    <div class="form-group">
      <label for="demo_overview_icons_badges">Select one or more countries</label>
      <select id="demo_overview_icons_badges" class="form-control" multiple>
        {{#each countries}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

<pre><code>{{{ htmlentities
'<div class="form-group">
  <label for="demo_overview_icons_badges">Select one or more countries</label>
  <select id="demo_overview_example" class="form-control" multiple>
    <!-- options -->
  </select>
</div>

<script>
  $(document).ready(function(){
    $("#demo_multiselect").selectDropdown({
      \'maxListLength\': 0,
      \'badges\': true,
      \'tooltips\' : true,
      \'htmlBtnClear\': \'<svg class="ion"><use xlink:href="#ion-close"></use></svg>\',
      \'htmlBtnDeselectAll\': \'<svg class="ion"><use xlink:href="#ion-close-circled"></use></svg>\',
      \'htmlBtnSelectAll\': \'<svg class="ion"><use xlink:href="#ion-checkmark-circled"></use></svg>\',
      \'htmlBtnBadgeRemove\': \'<svg class="ion"><use xlink:href="#ion-close"></use></svg>\'
    });
  });
</script>'
}}}</code></pre>

  <p>
    In this example, the following options have been set.
  </p>

  <ul>
    <li>
      <strong>maxListLength</strong> is set to <code>0</code> to ensure the button is populated with the <code>%count_selected% selected</code> for any number of selections.
    </li>
    <li>
      <strong>badges</strong> offer enhanced visual feedback for longer, more complex lists or lists where a large selection is expected.
    </li>
    <li>
      Icons are used in this example. Bootstrap does not ship with an icon framework by default, so some integration may be required. In this example, SCSS/CSS has been applied to make SVG icons work (height, width, fill) within buttons and badges.
    </li>
    <li>
      <strong>tooltips</strong> clarify the functionality of each button, tooltips are added to the 'Clear search', 'Deselect all' and 'Select all' buttons. This enhances the default <code>title</code> attribute.
    </li>
  </ul>

  <p class="highlight">
    For a full list of options, consult the <a href="options.html">options documentation</a>.
  </p>

  </div><!-- /.col-md-9 -->
</div><!-- /.row -->

{{> meta/foot }}
